html {
  font-family: 'League Gothic';
  // font: normal 125%/1.80 'League Gothic';
  background-color: #000;
}

body {
  color: #FFF;
}

#container {
  position: absolute;
  padding: 80px;
  background-color: rgba(0,0,0,.66);
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: 'KnewaveOutlineRegular';
  color: #FF00FF;
  background: linear-gradient(to bottom, #ff00ff, #c000c0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 5px;
  padding-left: 5px;
  margin-bottom: 40px;
}

#job {
  margin-bottom: 20px;
  width: 66vw;
}

#title {
  font-weight: normal;
  color: #FFF;
}

#snippet {
  font-size: 133%;
  color: rgba(225, 225, 225, 1);
}

button {
  border: none;
  outline: none;
  font-size: 20px;
  background: #3498db;
  width: 200px;
  height: 60px;
  text-decoration: none;
  border-radius: 28px;
}

button.submitSucks {
  background: linear-gradient(to bottom, #00ffff, #00c0c0);
  font-family: 'KnewaveRegular';
  margin-right: 20px;
}

button.submitLike {
  position: absolute;
  background: linear-gradient(to bottom, #FF0000, #FF0000 33.33%, #FFFFFF 33.33%, #FFFFFF 66.66%, #0000FF 66.66%, #0000FF);
  font-family: 'League Gothic';
  font-weight: normal;
  font-style: italic;
  font-size: 100%;
}

.counter {
  margin-top: 2.5vw;
  font-family: 'KnewaveRegular';
  color: #c000c0;
}

#indeed_at {
  display: none;
}

/* Regular */
@font-face {
    font-family: 'League Gothic';
    src: url('/fonts/leaguegothic-italic-webfont.eot');
    src: url('/fonts/leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/leaguegothic-italic-webfont.woff') format('woff'),
         url('/fonts/leaguegothic-italic-webfont.ttf') format('truetype'),
         url('/fonts/leaguegothic-italic-webfont.svg#league_gothic_italicregular') format('svg');
    font-weight: normal;
    font-style: italic;

}

/* Italic */
@font-face {
    font-family: 'League Gothic';
    src: url('/fonts/leaguegothic-regular-webfont.eot');
    src: url('/fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('/fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('/fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Condensed */
@font-face {
    font-family: 'League Gothic Condensed';
    src: url('/fonts/leaguegothic-condensed-regular-webfont.eot');
    src: url('/fonts/leaguegothic-condensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/leaguegothic-condensed-regular-webfont.woff') format('woff'),
         url('/fonts/leaguegothic-condensed-regular-webfont.ttf') format('truetype'),
         url('/fonts/leaguegothic-condensed-regular-webfont.svg#league_gothic_condensed-Rg') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Condensed Italic */
@font-face {
    font-family: 'League Gothic Condensed';
    src: url('/fonts/leaguegothic-condensed-italic-webfont.eot');
    src: url('/fonts/leaguegothic-condensed-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/leaguegothic-condensed-italic-webfont.woff') format('woff'),
         url('/fonts/leaguegothic-condensed-italic-webfont.ttf') format('truetype'),
         url('/fonts/leaguegothic-condensed-italic-webfont.svg#league_gothic_condensed_itaRg') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'KnewaveRegular';
    src: url('/fonts/knewave-webfont.eot');
    src: url('/fonts/knewave-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/knewave-webfont.woff') format('woff'),
         url('/fonts/knewave-webfont.ttf') format('truetype'),
         url('/fonts/knewave-webfont.svg#KnewaveRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'KnewaveOutlineRegular';
    src: url('/fonts/knewave-outline-webfont.eot');
    src: url('/fonts/knewave-outline-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/knewave-outline-webfont.woff') format('woff'),
         url('/fonts/knewave-outline-webfont.ttf') format('truetype'),
         url('/fonts/knewave-outline-webfont.svg#KnewaveOutlineRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
