html {
  font-family: 'League Gothic';
  // font: normal 125%/1.80 'League Gothic';
  background-color: #000;
}

body {
  color: #FFF;
  // padding-top: 20px;
  // padding-left: 5vw;
  // margin: auto;
  // width: 90vw;
  // height: 90vh;
}

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: 'KnewaveOutlineRegular';
  color: #FF00FF;
  background: linear-gradient(to bottom, #ff00ff, #c000c0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 5px;
  padding-left: 5px;
  margin-bottom: 40px;
}

#job {
  margin-bottom: 20px;
  width: 66vw;
}

#title {
  font-weight: normal;
  color: #FFF;
}

#snippet {
  font-size: 133%;
}

button {
  border: none;
  font-size: 20px;
  background: #3498db;
  width: 200px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-radius: 28px;
}

button.submitSucks {
  background-color: #00FFFF;
  background-image: linear-gradient(to bottom, #00ffff, #00c0c0);
  font-family: 'KnewaveRegular';
  margin-right: 20px;
}

button.submitLike {
  background-color: #FFF;
  background-image: linear-gradient(to bottom, #FF0000, #FFFFFF, #0000FF);
  font-family: 'League Gothic';
  font-weight: normal;
  font-style: normal;
}

.counter {
  margin-top: 2.5vw;
  font-family: 'KnewaveRegular'
}

#indeed_at {
  display: none;
}

/* Regular */
@font-face {
    font-family: 'League Gothic';
    src: url('/fonts/leaguegothic-italic-webfont.eot');
    src: url('/fonts/leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/leaguegothic-italic-webfont.woff') format('woff'),
         url('/fonts/leaguegothic-italic-webfont.ttf') format('truetype'),
         url('/fonts/leaguegothic-italic-webfont.svg#league_gothic_italicregular') format('svg');
    font-weight: normal;
    font-style: italic;

}

/* Italic */
@font-face {
    font-family: 'League Gothic';
    src: url('/fonts/leaguegothic-regular-webfont.eot');
    src: url('/fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('/fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('/fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Condensed */
@font-face {
    font-family: 'League Gothic Condensed';
    src: url('/fonts/leaguegothic-condensed-regular-webfont.eot');
    src: url('/fonts/leaguegothic-condensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/leaguegothic-condensed-regular-webfont.woff') format('woff'),
         url('/fonts/leaguegothic-condensed-regular-webfont.ttf') format('truetype'),
         url('/fonts/leaguegothic-condensed-regular-webfont.svg#league_gothic_condensed-Rg') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Condensed Italic */
@font-face {
    font-family: 'League Gothic Condensed';
    src: url('/fonts/leaguegothic-condensed-italic-webfont.eot');
    src: url('/fonts/leaguegothic-condensed-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/leaguegothic-condensed-italic-webfont.woff') format('woff'),
         url('/fonts/leaguegothic-condensed-italic-webfont.ttf') format('truetype'),
         url('/fonts/leaguegothic-condensed-italic-webfont.svg#league_gothic_condensed_itaRg') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'KnewaveRegular';
    src: url('/fonts/knewave-webfont.eot');
    src: url('/fonts/knewave-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/knewave-webfont.woff') format('woff'),
         url('/fonts/knewave-webfont.ttf') format('truetype'),
         url('/fonts/knewave-webfont.svg#KnewaveRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'KnewaveOutlineRegular';
    src: url('/fonts/knewave-outline-webfont.eot');
    src: url('/fonts/knewave-outline-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/knewave-outline-webfont.woff') format('woff'),
         url('/fonts/knewave-outline-webfont.ttf') format('truetype'),
         url('/fonts/knewave-outline-webfont.svg#KnewaveOutlineRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
